<link href="http://revive-clothiers.com/ebay.css" media="all" rel="stylesheet" />
<div class="container content">
	<div class="row">
	<h1 class="logo">Revive Clothiers</h1>
	<a href="http://revive-clothiers.com/products/<%=@product.id%>">Additional Photos &amp; Information</a><br />

		<div class="details">
			<h1><%=@product.brand.try(:titleize)%></h1>
			<p><%=@product.description.try(:titleize)%></p>
			<p>Size: <%=@product.size.try(:upcase)%></p>
			<h2>Product Details</h2>

			<table class="table table-striped">
				<tbody>
					<% @product.details.each do |k,v| %>
					<% unless v.blank? %>
					<tr><td><%=k.try(:titleize)%>:</td><td><%=v.try(:titleize)%></td></tr>
					<%end%>
					<%end%>
				</tbody>
			</table>

			<h2>Product Measurements</h2>
			<table class="table table-striped">
				<tbody>
					<% @product.measurements.each do |k,v| %>
					<% unless v.blank? %>
					<tr><td><%=k.try(:titleize)%>:</td><td><%=v.try(:titleize)%>"</td></tr>
					<%end%>
					<%end%>
				</tbody>
			</table>
			<br>
			<h2>Shipping</h2>
			<p>Shipping is calculated based on the items actual weight. No additional handling charges are added.</p>
			<h2>Returns</h2>
			<p>You may return your item for any reason within 14 days.</p>
		    <h2><%=@product.category.display_name%> Information</h2>
			<p>
			<%= @product.category.ebay_about%>
			</p>
		</div>
	</div>
</div>
