<div id="main_nav">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_nav_collapse">
      <span class="sr-only">Toggle navigation</span>
     
        <p class="navbar-text visible-sm visible-xs">Navigation</p>

    </button>

    <div class="collapse navbar-collapse" id="main_nav_collapse">

      <div class="navbar-inner center">

        <ul class="nav navbar-nav">
          <%= render :partial => "partials/nav_buttons/featured"%>
          <%= render :partial => "partials/nav_buttons/clothing"%>
          <%= render :partial => "partials/nav_buttons/footwear"%>
          <%= render :partial => "partials/nav_buttons/accessories"%>
          <%= render :partial => "partials/nav_buttons/services"%>
          <%= render :partial => "partials/nav_buttons/guides"%>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>