<h1>Review Order</h1>
<div class="row">
<div class="col-md-6">
Order total: <%= number_to_currency(@shopping_cart.total) %> <%=link_to "Change Order", shopping_cart_path %>
<br />

<%= form_tag orders_path do %>
		<script
		src="https://checkout.stripe.com/checkout.js"
		class="stripe-button"
		data-image="/sqlogo.jpg"
		data-name="Revive Clothiers"
		data-shipping-address="true"
		data-billing-address="true"
		data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		data-description="Checkout"
		data-amount="<%=@shopping_cart.total_cents%>">
		</script>
<% end %>


