<h1>New Order</h1>
<div class="row">
<div class="col-md-6">
	<%= semantic_form_for @order do |f| %>
		<%= f.inputs :for => :shipment, :name => "Shipping Address" do |i|%>
			<%= i.input :name, :input_html => { :value => current_user.full_name }%>
			<%= i.input :first_line, :input_html => { :value => current_user.address_line1 } %>
			<%= i.input :second_line, :input_html => { :value => current_user.address_line2 } %>
			<%= i.input :city, :input_html => { :value => current_user.city } %>
			<%= i.input :state, :input_html => { :value => current_user.state } %>
			<%= i.input :zip, :input_html => { :value => current_user.zip } %>
			<%= i.input :country, :input_html => { :value => current_user.country } %>

		<% end %>
		</div>
		<div class="col-md-6">

		<%= f.inputs :for => :payment, :name => "Billing Address" do |i| %>
			<%= i.input :name, :input_html => { :value => current_user.full_name }%>
			<%= i.input :first_line, :input_html => { :value => current_user.address_line1 } %>
			<%= i.input :second_line, :input_html => { :value => current_user.address_line2 } %>
			<%= i.input :city, :input_html => { :value => current_user.city } %>
			<%= i.input :state, :input_html => { :value => current_user.state } %>
			<%= i.input :zip, :input_html => { :value => current_user.zip } %>
			<%= i.input :country, :input_html => { :value => current_user.country } %>

		<% end %>
		</div>
		</div>
		<%= f.inputs :for => :payment, :name => "Payment Details" do |i| %>
			<%= i.input :card_type %>
			<%= i.input :card_number %>
			<%= i.input :card_expiration %>
			<%= i.input :card_verification_code %>
		<% end %>



		<%= f.actions do %>
			<%= f.action :submit, :as => :button %>
			<%= f.action :cancel, :as => :link %>
		<% end %>


	<% end %>