<h1><%=@product.brand%></h1>
<p><%=@product.description%></p>
<p>Size: <%=@product.size%></p>
<p><%=number_to_currency(@product.price)%></p>

<h2>Product Details</h2>

<table class="table table-striped">
	<tbody>
		<% @product.details.each do |k,v| %>
		<% unless v=="" %>
		<tr><td><%=k%>:</td><td><%=v%></td></tr>
		<%end%>
		<%end%>
	</tbody>
</table>

<h2>Product Measurements</h2>
<table class="table table-striped">
	<tbody>
		<% @product.measurements.each do |k,v| %>
		<% unless v=="" %>
		<tr><td><%=k%>:</td><td><%=v%></td></tr>
		<%end%>
		<%end%>
	</tbody>
</table>