	<div class="row">
	<div class="col-md-6 col-sm-12">
<h3>I already have an account</h1>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true, placeholder: "email", label: false %>
    <%= f.input :password, :required => false, placeholder: "password", label: false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>
</div>

<div class="col-md-6 col-sm-12">
<h3>I need an account</h1>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
    <%= f.input :email, :required => true, :autofocus => true, placeholder: "email", label: false %>
    <%= f.input :password, :required => true, placeholder: "password", label: false %>
    <%= f.input :password_confirmation, :required => true, placeholder: "confirm password", label: false%>
    <%= f.button :submit, "Sign up" %>
<% end %>
</div>
</div>
