<div class="row">
<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        I already have an account
      </div>
      <div class="panel-body">
       <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
       <%= f.input :email, :required => false, :autofocus => true, placeholder: "email", label: false %>
       <%= f.input :password, :required => false, placeholder: "password", label: false %>
       <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
       <%= f.button :submit, "Sign in" %>
       <% end %>
     </div></div></div>
     <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          I need an account
        </div>
        <div class="panel-body">

          <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|%>
          <%= f.input :email, :required => true, :autofocus => true, placeholder: "email", label: false %>
          <%= f.input :password, :required => true, placeholder: "password", label: false %>
          <%= f.input :password_confirmation, :required => true, placeholder: "confirm password", label: false%>
          <%= f.button :submit, "Sign up" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
