
<style>
ul li {
  display: inline-block;
}
</style>

<ul class="product-images" data-update-url="<%= sort_admin_product_uploads_url %>">
    <% @uploads.each do |upload| %>
      <%= content_tag_for :li, upload do %>
        <%= render partial: "upload", locals: { upload: upload } %>
        <%end%> 
        <%end%>

</ul>

<%#- form_for([:admin, @upload], url: new_admin_product_upload_path, html: { multipart: true }) do |f| %>
 <%= semantic_form_for [:admin, :product, @upload] do |f| %>
  <%= f.inputs do %>
    <%= f.file_field :uploaded_file, multiple: true, name: 'upload[uploaded_file]' %>
    <% end %>
    <% end %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
  {%=o.name%}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
      </div>
      </div>
      </script>
