<%- model_class = Product -%>
<% if user_signed_in? && current_user.email=="admin@revive-clothiers.com" %>
	<div classs="admin-panel">
		<%=link_to "New #{@type.try(:titleize)}", sti_product_path(@type,nil,:new)%>
		|
		<%=link_to "Needs Cleaning ( #{(@type.constantize).needs_cleaning.count} )", sti_filter_products_path(@type,"needs_cleaning")%>
		|
		<%=link_to "Needs Repair ( #{(@type.constantize).needs_repair.count} )", sti_filter_products_path(@type,"needs_repair")%>
		|
		<%=link_to "Needs Photos ( #{(@type.constantize).needs_photos.count} )", sti_filter_products_path(@type,"needs_photos")%>
		|
		<%=link_to "Needs Listing ( #{(@type.constantize).needs_listing.count} )", sti_filter_products_path(@type,"needs_listing")%>
	</div>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => @type.try(:titleize).pluralize %></h1>
</div>
<%=render "products/product_list"%>
