<%- model_class = Product -%>
<% if user_signed_in? && current_user.email=="admin@revive-clothiers.com" %>
	<div classs="admin-panel">
		<%=link_to "New #{@type.try(:titleize)}", sti_product_path(@type,nil,:new)%>
		|
		Needs Cleaning (<%=Product.where(:type=>@type).needs_cleaning.count%>)
		|
		Needs Repair (<%=Product.where(:type=>@type).needs_repair.count%>)
	</div>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => @type.try(:titleize).pluralize %></h1>
</div>
	<div class="container marketing">
		<!-- Three columns of text below the carousel -->
		<div class="row">
			<% @products.each do |i| %>
			<div class="span3">
				<%=(link_to image_tag(i.uploads.first.uploaded_file(:small)), product_path(i.id), class: "thumbnail") unless i.uploads.count==0%>
				<p class="title"><%="#{i.brand} - #{i.size}"%></p>
				<p><%="Price: #{number_to_currency(i.price)}"%></p>
				<p><%=link_to "View Item", product_path(i.id), class: "btn" %></p>
				<% if user_signed_in? && current_user.email=="admin@revive-clothiers.com" %>
					<%= link_to "Edit", sti_product_path(i.type,i,:edit)%> | <%= link_to "Photos(#{i.uploads.count})", new_product_upload_path(i.id)%> |  <%= link_to "Ebay Listing(#{i.ebay_listings.count})", new_product_ebay_listing_path(i.id) %>
				<% end %>
			</div><!-- /.span4 -->
			<% end %>
		</div><!-- /.row -->
