<div class="row">
     <div class="hidden-xs hidden-sm col-md-2">
        <%= render partial: "/partials/side_nav"%>
    </div>
    <div class="col-md-5 hidden-xs hidden-sm">
        <div id="product-images-container">
            <div id="product-images">
                <div id="large-image">

                    <div id="medium-image-container">
                       <%=image_tag @product.ordered_photos.first.uploaded_file(:large), :id=>"medium-image"%>
                    </div>
                   
                </div>
            </div>
        </div>
        <%= render "partials/small_carousel"%>

    </div>
    <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
        <div id="product-images">
        <%= render "partials/mobile_images"%>
        </div>
    </div>

    <div id="product-info" class="col-md-5 col-xs-12 col-sm-12">
    <div id="image-zoom-container" style="overflow: hidden; display: none;">
        <%=image_tag @product.ordered_photos.first.uploaded_file(:original), :id=>"original-image"%>
    </div>
        <%= render "products/show/right_pane" %>
    </div>
</div>



